.webcam-wrapper {
  position: relative;
  width: 940px; }

.webcam-tips {
  float: right;
  width: 260px;
  padding-right: 10px; }

.webcam-video {
  width: 640px;
  height: 460px;
  outline: 4px solid black;
  z-index: -1; }

.webcam-inactive {
  width: 640px;
  height: 460px;
  background-color: #000;
  position: absolute;
  top: 0;
  z-index: 2; }

.webcam-inactive p {
  padding-left: 10px;
  color: #fff;
  text-align: center;
  margin-top: 150px; }

.webcam-question {
  width: 640px;
  height: 30px;
  bottom: 0px;
  z-index: 1;
  position: absolute;
  background: #000;
  padding-bottom: 20px; }
  .webcam-question p {
    color: #fff;
    font-size: 21px;
    font-weight: bolder;
    padding-top: 15px;
    padding-left: 15px; }

.webcam-overhead {
  width: 640px;
  height: 50px;
  background: #000;
  z-index: 1;
  position: absolute; }
  .webcam-overhead p {
    color: #fff;
    padding-top: 14px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 300;
    text-align: center; }
    .webcam-overhead p .time {
      color: #206ba4;
      font-weight: 400; }

.webcam-finished {
  display: none; }

.webcam-time-bar {
  height: 3px;
  width: 640px;
  float: left;
  position: absolute;
  z-index: 3;
  top: 410px; }

.webcam-time-fill {
  height: 3px;
  width: 0%;
  background: red;
  float: left;
  position: absolute;
  z-index: 3; }

#webcamModal {
  width: 1050px;
  margin-left: -525px; }
  #webcamModal .modal-body {
    max-height: 700px; }
.progress{
display: block;
  width: 0g;
  height: 3px;
  background: blue;
  position: absolute;
  z-index: 50;
}
