<!-- Modal -->
<div id="webcamModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
    <h3 id="myModalLabel">Video Interview</h3>
  </div>
  <div class="modal-body">
    <div class="webcam-wrapper" record-time="900" prep-time="3" question="Describe a difficult work situation/project and how you overcame it.">
    <div class="webcam-inactive webcam-finished">
      <p>All Done<br><small>Sending video to company</small></p>
    </div>
    <div class="webcam-overhead">
      <span class="progress"></span>
      <p>Please enable webcam in the dialog below</p>
    </div>
    <div class="webcam-time-bar">
      <div class="webcam-time-fill"></div>
    </div>
    <div class="webcam-question">
      <p>There should be a question here...</p>
    </div>
    <div id="webcam"></div>
    <div class="webcam-tips">
      <h2>Tips</h2>
      <ul>
        <li>Position the camera at the same height as the top of your head</li>
        <li>Look directly at the camera</li>
        <li>If you wear glasses, use an anti-glare coating or remove then for the interview</li>
        <li>Don't wave your hands around</li>
        <li>Manage your background</li>
      </ul>
      Your response should be less than 30 seconds. If you finish before you run out of time, click on the video to stop it.
    </div>
  </div>
  </div>
</div>
</div></div>
