<head>
  <title>Linus' tets page</title>
  <script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script language="JavaScript" src="//ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
  <script language="JavaScript" src="scriptcam.js"></script>
</head>
<body>
  webcam
  <div id="webcam"></div>
  <script language="JavaScript">
   $(document).ready(function() {
     $("#webcam").scriptcam({
       showDebug: true,
       fileName:'test'
     });
    }); 
     function fileReady(loc){
       console.log("location: "+loc);
     }
  </script>
</body>
